.projects{
    background-color: #fff;
}
.projects h1{
        margin: 0;
        font-size: 9rem;
        text-align: center;
}
.projects h1 img{
        width: 7.5rem;
        animation: rotateImg 5s infinite linear;
}
@keyframes rotateImg {
  100%{
    rotate: 360deg;
  }
}
@media (max-width: 950px) { 
   .projects h1{
    font-size: 7rem;
   }  
   .projects h1 img{
    width: 5.5rem;
}
 }
@media (max-width: 720px) { 
   .projects h1{
    font-size: 5rem;
   }  
   .projects h1 img{
    width: 4rem;
}
 }


 /* project pc version */
 @media (width>=640px) {
  .project-mobileVersion {
    display: none;
    }
}
.swiper-slide{
  width: 80%;
}
.project-card-mobile{
  width: 100%;
  padding: 1rem;
}
.project-card-mobile img{
  width: 100%;
  border: 3px solid var(--green);
  border-radius: 10px;
}



/* project pc version */
.project-container-pc {
    padding: 1rem;
    padding-bottom: 5rem;
  }
  
  @media (width<=640px) {
    .project-pcVersion {
      display: none;
      }
  }
  .project-showcase-pc {
    margin: 0 auto;
    max-width: 80rem; 
  }
  
  .project-card-pc {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--green); 
    padding: 1rem;
    transition: color 0.5s, border-color 0.5s;
    text-decoration: none;
  }
  
  
  .project-card-container {
    position: relative;
    z-index: 10;
    display: block;
    font-size: 2rem; 
    font-weight: bold;
    color: #a0aec0; 
    transition: color 0.5s;
  }
  
  .project-subHeading-pc {
    position: relative;
    z-index: 10;
    margin-top: 1rem;
    display: block;
    font-size: 1rem; 
    color: var(--gray); 
    transition: color 0.5s;
  }
  
  
  .project-img-pc {
    position: absolute;
    z-index: 9999;
    height: 300px;
    width: 450px; 
    border-radius: 0.375rem;
    object-fit: cover;
  }
  
  .project-arrowIcon-div-pc {
    position: relative;
    z-index: 10;
    padding: 1rem;
  }
  
  .project-arrowIcon-pc {
    font-size: 2.5rem; 
    color: var(--green); 
    transition: color 0.5s;
  }